<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/NavBar/css.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    @await RenderSectionAsync("styles", required: false)

</head>
<body>
   
    <div class="dashboard-nav">

        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
               <a href="#" class="brand-logo"><i class="fas fa-anchor"></i> 
                <span>Parking</span></a></header>

            <nav class="dashboard-nav-list">
            <a href="#" class="dashboard-nav-item">
            <i class="fas fa-home"></i> Book Place </a>

            <a href="#" class="dashboard-nav-item active">
                 <i class="fas fa-tachometer-alt"></i> View Parking
            </a>
      
                <a href="#" class="dashboard-nav-item">
                <i class="fas fa-file-upload"></i> Page3 </a>

                <div class='dashboard-nav-dropdown'>
                <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                <i class="fas fa-photo-video"></i> Media </a>

                <div class='dashboard-nav-dropdown-menu'> 
                    <a href="#" class="dashboard-nav-dropdown-item">All</a><a
                        href="#" class="dashboard-nav-dropdown-item">Recent</a><a
                        href="#" class="dashboard-nav-dropdown-item">Images</a><a
                        href="#" class="dashboard-nav-dropdown-item">Video</a></div>
                </div>
            <div class='dashboard-nav-dropdown'>
                <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                <i class="fas fa-users"></i>
                   Users </a>
                <div class='dashboard-nav-dropdown-menu'>
                    <a href="#" class="dashboard-nav-dropdown-item">All</a><a
                        href="#" class="dashboard-nav-dropdown-item">Subscribed</a>
                        <a
                        href="#"
                        class="dashboard-nav-dropdown-item">Non-subscribed</a>
                        <a
                        href="#" class="dashboard-nav-dropdown-item">Banned</a>
                        <a
                        href="#" class="dashboard-nav-dropdown-item">New</a>
                    </div>
            </div>

            <div class='dashboard-nav-dropdown'>
                <a href="#!" class="dashboard-nav-item "><i
                    class="fas fa-money-check-alt"></i> Write FeedBack </a>
                
            </div>
            <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a><a
                    href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
          <div class="nav-item-divider"></div>
          <a asp-action="Login" asp-controller="Account" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Login </a>
        </nav>
    </div>
   
   


     <div class="container-fluid">
            <main role="main" class="pb-3">
            @RenderBody()
            </main>
        </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Parking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/NavBar/Bar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
